html {
  min-height: 100%;
  background-size: cover;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#e66465, #9198e5);
}

.accordion-header {
  opacity: 1;
}
.accordion {
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 10px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.montserrat-all {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
